<%- include('./includes/admin/header.ejs') %>
<%- include('./includes/admin/nav.ejs') %>
<main id="root">
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="col">
                <h4>Page Not Found!</h4>
            </div>
        </div>
    </div>
</main>
<%- include('./includes/admin/footer.ejs') %>